@model MembershipCardViewModel

<div class="membership-card">
    <div class="card-header">
        <div class="card-icon">
            <i class="fa-solid fa-dumbbell"></i>
        </div>
        
        <h2>@Model.Title Membership</h2>
        <hr />
        
        <p>@Model.Description</p>
        
        <ul class="feature-list">
            @if (Model.Benefits != null)
            {
                @foreach (var benefit in Model.Benefits)
                {
                    <li><i class="fa-solid fa-circle-check"></i> @benefit</li>
                }
            }
        </ul>
    </div>

    <div class="card-footer">

        <div class="price-row">
            <div class="price-block">
                <span class="price">@Model.Price</span> <span class="monthly">/monthly</span>
            </div>
           
            <a asp-controller="Account" asp-action="Join" asp-route-id="@Model.Id" class="signin-btn">
                Join Now <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
     
        <p class="price-info">* Monthly @(Model.MonthlyClasses.ToString()) Classes</p>
        
        <hr class="footer-divider" />
        <p class="trial-info">Try Any Membership Free for 1 Week</p>
    </div>
</div>